$page-width: 1280px; /* set html work for 1280px  */   
$text-family: Arial,Helvetica,sans-serif;
$text-size:1rem;
$common-left:10.27%;

html, body {
    width: $page-width;      /* set html work for 1280px  */    
    margin: 0px;    
    background: white;
    font-family: Arial,Helvetica,sans-serif;
}

header {
  position: fixed;
  top: 0%;
  left: 0%;
  /* Since it is detached from the document flow and cannot inherit the parent’s properties, the width has to be set manually */
  width:$page-width;
  height: 103px;
  background-color: black;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .header__nav-bar {
    width: 79.44%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: 1px solid green;
    .header__logo{
      width:15.35%;
      height: 30px;
      // border: 1px solid  red;
      img{
        width:100%;
        height: 100%;
      }

    } 
    .header__nav-links{
      width: 27.81%;
      height: 22px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      margin-top: 4px;
      a{
        text-decoration: none;
        font-size: 1rem;
        font-weight: 700;
        color: #FFF; 
      }

    }
  }

}

.hero {
    margin-top: 102px;
    width: 100%;
    height: 698px;
    background-image:
    linear-gradient(to right, rgba(18,23,25,1) 32%, rgba(0,0,0,0) 100%),  /* 渐变 */
    url('images/spaces-hero.jpg'); // load image

    background-repeat: no-repeat, no-repeat;

    // Set the first background to fully cover the element and center it,
    //and set the second background to 190% size with an offset of -530px horizontally 
    //   and -300px vertically.
    background-size: cover, 190%;
    background-position: center, -530px -300px;
    border: 1px solid transparent;
    // padding-top: 0.01px;//Work for CSS margin collapse
    h1{
        margin-left: $common-left;
        margin-top: 133px;
        margin-bottom: 0px;
        width: 32%;
       // font-family: Arial;
        font-size: 4rem;
        font-weight: 700;
        color: #FFFF; 
        //border: 1px solid red;
    }  
    P{
        width: 32%;
        margin-left:$common-left;
        margin-top: 32px;
        margin-bottom: 0px;
        font-size: 1rem;
        font-weight: 400;
        color: #FFFF; 
        // border: 1px solid red;     
    }
    a{
        margin-left:$common-left;
        margin-top: 32px;
        display: inline-block;
        text-decoration: none;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 32px;
        padding-right: 32px;
        font-size: 1rem;
        font-weight: 700;
        color:  #FFFF; 
        background-color:#BA510C;
        border-radius: 4px;
        //border: 1px solid red;    
    }
 
}



.space{
    width: 100%;
    display: flex;
    flex-direction: column;
    // border: 3px solid blue; 
    //Fix the spacing between the first child element and the parent border 
    &>:first-child{
        margin-top: 92px;
    }
    .space__item{
        width: 79.58%;
        height: 376px;
        // border: 3px solid red; 
        margin-left: $common-left;
        margin-top: 122px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img{
            width: 49.21%;
            height: 100%;
        }
        .space__details{
            width: 45.54%;
            height: 315px;
            margin-top: 30.5px;
            // border:1px solid blue;
            h3{
                font-size: 1.25rem;
                font-weight: 700;
                color:#BA510C;
                margin-top: 0;
                margin-bottom:0;
            }
            h2{
            
                font-size:2.4375rem;
                font-weight: 400;
                color: #121719;
                margin-top:0;

            }
            P{
                height: 132px;
                font-size: 0.93rem;
                font-weight: 400;
                color: #121719;
                margin:0;
            }
            .space__button{
                width: 59.57%;
                height: 44px;
                background-color:#BA510C;
                border-radius: 4px;
                margin-top:32px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap:2%;
                a{
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 700;
                    color: #FFFF;
                    margin-left: 3%;
                    margin-right: 0;
                }
                img{
                    width: 7.71%;
                    height: 24px;
                    margin-left: 0;
                    margin-right: 3%;
                }

            }

        }
    }

}


.testimonial{
    width: 100%;
    height: 462px;
    border-left: 1px solid transparent;
    // padding-top: 0.01px;// work for CSS margin collapse
    margin-top: 92px;
    background-image: url( images/spaces-lower.png);
    border: 1px solid transparent;
    blockquote{
        margin-left: $common-left;
        margin-top: 125.5px;
        font-size: 2.43rem;
        font-weight: 700;
        color: #FFFF;
    }
    cite{
        background-color: none;
        margin-left: 10.27%;
        margin-top: 32px;
        font-size: 1.25rem;
        font-weight: 400;
        color: #FFFF;
        padding: 0;
    }

}

footer{
  width: 100%;
  height: 494px;
  background-color: black;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
.footer__container{
  width: 82.22%;
  display: flex;
  flex-direction:column ;
//   border: 1px solid red;
  }
  .footer__info{
    width:100%;
    height: 328px;
    // border: 1px solid green;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer__info-details{
      width: 27.95%;
      height: 328px;
    //   border: 1px solid blue;
      img{
        width: 52.88%;
        height: 30px;
      }
      P{
        font-size: 1rem;
        font-weight: 400;
        color: #FFF;
      }
      .footer__social-list{
        width: 52.71%;
        height: 20px;
        //border: 1px solid blue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 64px;
        a{
          width: 11.17%;
          height: 20px;
          //border: 1px solid blue;
        }
        img{
          width: 100%;
          height: 20px;
        }
      }   
    }
    .footer__nav{
      width: 51.01%;
      height: 328px;
      //border: 1px solid blue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .footer__nav-links{
        width: 24.5%;
        height: auto;
        //border: 1px solid yellow;
        display: flex;
        flex-direction: column;
        gap: 16px;
        a{
          text-decoration: none;
          font-size: 1rem;
          font-weight: 400;
          color: #FFF;
          //border: 1px solid green;
          &:first-child {
            font-size: 1.562rem;
            font-weight: 700;
          } 
        }
      }
    } 
  }
  .footer__legal{
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer__copyright{
      width: 35%;
      height: 22px;
    //   border: 1px solid green;
      p{
        font-size: 1rem;
        font-weight: 400;
        color: #FFF;
        margin: 0;
      }
    }
    .footer__policy{
      width: 25.3%;
      height: 22px;
      //border: 1px solid blue;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a{
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        color: #FFF;
        // border: 1px solid red;
      }
    } 
    
  }

}